@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

:root{
    --main-color: #027581;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
.sidebar{
    width: 275px;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    background: var(--main-color);
    z-index: 100%;
    transition: width 300ms;
}
.sidebar-brand{
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #ffffff;
}
.sidebar-brand span{
    display: inline-block;
    padding-right: 1rem;
}
.sidebar-menu{
    margin-top: 1rem;
}
.sidebar-menu li{
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 2rem;
}
.sidebar-menu a{
    padding-left: 1rem;
    display: block;
    color: #ffffff;
    font-size: 1.1rem;
    transition: .4s;
}
.sidebar-menu li:hover a{
    padding-left: 2rem;
}
.sidebar-menu a span:first-child{
    font-size: 1.5rem;
    padding-right: 1rem;
}
.sidebar-menu .tab.active a{
    background: #ffffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;
}
.sidebar-menu ul a button{
    width: 150px;
    height: 38px;
    background: #042331;
    border: none;
    margin-top: 8px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 300ms;
}
.sidebar-menu ul a button:hover{
    background: #fff;
    color: #042331;
} 
#nav-toggle:checked + .sidebar{
    width: 70px;
}
#nav-toggle:checked + .sidebar li:last-child{
    display: none;
}
#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li{
    padding-left: 1rem;
    text-align: center;
}
#nav-toggle:checked + .sidebar li a{
    padding-left: 0rem;
}
#nav-toggle:checked + .sidebar li a span{
    padding-right: 1rem;
}
#nav-toggle:checked + .sidebar .sidebar-brand h2 span:first-child{
    padding-left: 8px;
}
#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child{
    display: none;
}
#nav-toggle:checked ~ .main-content{
    margin-left: 70px;
}
.main-content{
    transition: margin-left 300ms;
    margin-left: 275px;
}
#nav-toggle:checked ~ .main-content header{
    width: calc(100% - 70px);
    left: 70px;
}
header{
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 275px;
    width: calc(100% - 275px);
    top: 0;
    z-index: 100;
    transition: left 300ms;
}
header h2{
    color: var(--main-color);
}
header label span{
    font-size: 1.7rem;
    padding-right: 1rem;
}

.user-wrapper{
    display: flex;
    align-items: center;
}
/* .user-wrapper img{
    border-radius: 50%;
    margin-right: 1rem;
} */
.user-wrapper small{
    display: inline-block;
    color: var(--text-grey);
}
main{
    margin-top: 30px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 85px);
}
/* #ppp{
    cursor: pointer;
    transition: .5s;
}
#ppp:hover{
    background: var(--main-color);
    color: #fff;
} */
.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}
.card-single{
    width: 235px;
    display: flex;
    justify-content: space-between;
    background: var(--main-color);
    padding: 2rem;
    border-radius: 2px;
}
.card-single div:last-child span{
    font-size: 3rem;
    color: #ffffff;
}
.card-single div:first-child span,h1{
    color: #ffffff;
}
#nav-toggle:checked ~ .card-single{
    width: 285px;
}
/*.card-single:last-child{
    background: var(--main-color);
}
.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span{
    color: #ffffff;
}*/
.main-content label span{
    position: absolute;
    cursor: pointer;
    background: var(--main-color);
    border-radius: 3px;
    z-index: 1111;
    top: 17px;
    font-size: 35px;
    color: #fff;
    padding: 4px 9px;
    transition: all .5s ease;
}
.main-content header h2 .dashboard{
    margin-left: 70px;
}
.main-content label:hover span{
    background: #042331;
}
.pages .page{
    display: none;
}
.pages .page.is-active{
    display: block;
}
/*@media only screen and (max-width: 1200px){
    .sidebar{
        width: 70px;
    }
    .sidebar .sidebar-brand,
    .sidebar li{
        padding-left: 1rem;
        text-align: center;
    }
    .sidebar li a{
        padding-left: 0rem;
    }
    .sidebar li a span{
        padding-right: 1rem;
    }
    .sidebar .sidebar-brand h2 span:first-child{
        padding-left: 8px;
    }
    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child{
        display: none;
    }
    .main-content{
        margin-left: 70px;
    }
    .main-content header{
        width: calc(100% - 70px);
        left: 70px;
    }
    .sidebar:hover{
        width: 345px;
        z-index: 200;
    }
    .sidebar:hover .sidebar-brand,
    .sidebar:hover li{
        padding-left: 2rem;
        text-align: left;
    }
    .sidebar:hover li a{
        padding-left: 0rem;
    }
    .sidebar li a span{
        padding-right: 1rem;
    }
    .sidebar:hover .sidebar-brand h2 span:last-child,
    .sidebar:hover li a span:last-child{
        display: inline;
    }
}
@media only screen and (max-width: 960px){
    .cards{
        grid-template-columns: repeat(3,1fr);
    }
    .recent-grid{
        grid-template-columns: 60% 40%;

}
@media only screen and (max-width: 768px){
    .cards{
        grid-template-columns: repeat(2,1fr);
    }
    .recent-grid{
        grid-template-columns: 100%;
    }
    .search-wrapper{
        display: none;

}*/
.chartWrapper1{   
 
    width: 850px;
    max-width:100%;
    margin: auto;
    background: #fff;
}
.chartWrapper2{
    width: 850px;
    max-width:100%;
    margin: auto;
    margin-top: 30px;
    background: #fff;
}
.chartWrapper34{
    width: 850px;
    max-width:100%;
    margin: auto;
    margin-top: 30px;
}
.chartWrapper34 .chartWrapper3{
    width: 418px;
    max-width:100%;
    margin-left: 0;
    background: #fff;
}
.chartWrapper34 .chartWrapper4{
    width: 418px;
    max-width:100%;
    margin-left: 432px;
    margin-top: -209px;
    background: #fff;
}
.chartWrapper45{
    width: 850px;
    max-width:100%;
    margin: auto;
    margin-top: 30px;
}
.chartWrapper45 .chartWrapper5{
    width: 418px;
    max-width:100%;
    margin-left: 0;
    background: #fff;
}
.chartWrapper45 .chartWrapper13{
    width: 418px;
    max-width:100%;
    margin-left: 432px;
    margin-top: -209px;
    background: #fff;
}
.chartWrapper68{
    width: 850px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
}
.chartWrapper6{
    width: 418px;
    max-width:100%;
    margin-left: 0;
    background: #fff;
}
.chartWrapper8{
    width: 418px;
    max-width:100%;
    margin-left: 432px;
    margin-top: -200px;
    background: #fff;
}
.chartWrapper910{
    width: 850px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
}
.chartWrapper9{
    width: 850px;
    max-width:100%;
    margin: auto;
    margin-top: 30px;
    background: #fff;
}
.chartWrapper10{
    width: 850px;
    max-width:100%;
    margin: auto;
    margin-top: 30px;
    background: #fff;
}
.chartWrapper11{
    width: 850px;
    max-width:100%;
    margin: auto;
    margin-top: 30px;
    background: #fff;
}
.chartWrapper12{
    width: 850px;
    max-width:100%;
    margin: auto;
    margin-top: 30px;
    background: #fff;
}
.chartWrapper714{
    width: 850px;
    max-width:100%;
    margin: auto;
    margin-top: 30px;
}
.chartWrapper7{
    width: 418px;
    max-width:100%;
    margin-left: 0;
    background: #fff;
}
.chartWrapper15{
    width: 850px;
    max-width:100%;
    margin: auto;
    margin-top: 30px;
    background: #fff;
}
.chartWrapper16{
    width: 850px;
    max-width:100%;
    margin: auto;
    margin-top: 30px;
    background: #fff;
}
.chartWrapper17{
    width: 418px;
    max-width:100%;
    margin: auto;
    margin-top: 30px;
    background: #fff;
}
.chartWrapper1819{
    width: 850px;
    max-width:100%;
    margin: auto;
    margin-top: 30px;
}
.chartWrapper18{
    width: 418px;
    max-width:100%;
    margin-left: 0;
    background: #fff;
}
.chartWrapper19{
    width: 418px;
    max-width:100%;
    margin-left: 432px;
    margin-top: -200px;
    background: #fff;
}
.chartWrapper2021{
    width: 850px;
    max-width:100%;
    margin: auto;
    margin-top: 30px;
}
.chartWrapper20{
    width: 418px;
    max-width:100%;
    margin-left: 0;
    background: #fff;
}
.chartWrapper21{
    width: 418px;
    max-width:100%;
    margin-left: 432px;
    margin-top: -200px;
    background: #fff;
}
.chartWrapper2223{
    width: 850px;
    max-width:100%;
    margin: auto;
    margin-top: 30px;
}
.chartWrapper22{
    width: 418px;
    max-width:100%;
    margin-left: 0;
    background: #fff;
}
.chartWrapper23{
    width: 418px;
    max-width:100%;
    margin-left: 432px;
    margin-top: -200px;
    background: #fff;
}
.chartWrapper14{
    width: 418px;
    max-width:100%;
    margin-left: 432px;
    margin-top: -209px;
    background: #fff;
}
.chartWrapper27{
    width: 850px;
    max-width:100%;
    margin: auto;
    margin-top: 30px;
    background: #fff;
}
.tab-user{
    background: #fff;
    margin-top: 30px;
}
form.example input[type=text]{
    padding: 5px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 25.5%;
    background: #fff;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 19px;
    outline: none;
}
form.example button {
    float: left;
    width: 5%;
    padding: 5px;
    background: var(--main-color);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    transition: 0.25s;
}
form.example button:hover {
    background: var(--text-grey);
    width: 5.5%;
}
form.example::after {
    content: "";
    clear: both;
    display: table;
}
form {
    position: relative;
    top: 19%;
    margin-left: 5%;
}
.butts {
    display: flex;
    position: absolute;
    top: 14.5%;
    left: 50%;
}
.butts button {
    margin: 0px 10px 0px 10px;
}
.butts .reload form button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    background: var(--main-color);
    height: 5.5vh;
    width: 5vh;
    font-size: 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.7s;
    display: flex;
    align-items: center;
    transform:translate(0px,-8px);
    border: solid 2px rgb(255, 255, 255);
}
.butts .reload button:hover{
    color: #fff;
    background-color: var(--text-grey);
}
.butts .plus button {
    color: white;
    background-color: var(--main-color);
    border: solid 0.01px black;
    height: 5vh;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.7s;
    border-radius: 10px;
}
.butts .plus button:hover {
    background: var(--text-grey);
}
.addinfo {
    height: 65vh;
    width: 90vh;
    border-radius: 30px;
    background: hsl(230, 75%, 15%);
    position: fixed;
    top: -580px;
    left: 40%;
    transition: 0.8s;
    transition: 0.8s;
}
.head1 {
    position: absolute;
    left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: -60px;
}
.head1 span {
    color: #fff;
    font-size: 40px;
}
.head1 h4 {
    margin-left: 10px;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}
.butt {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: -80px;
    left: 54%;
    right: 5%;
    transition: 0.8s;
}
.butt .b1{
    color: white;
    background-color: var(--text-grey);
    border: solid 0.01px #fff;
    height: 5vh;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.7s;
    border-radius: 10px;
}
.butt .b2{
    margin-left: 5px;
    color: white;
    background-color: var(--text-grey);
    border: solid 0.01px #fff;
    height: 5vh;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.7s;
    border-radius: 10px;
}
.butt .b1:hover{
    color: var(--main-color);
    background: #fff;
}
.butt .b2:hover{
    color: var(--main-color);
    background: #fff;
}
.addinfo form input {
    border-radius: 25px;
    padding: 5px 25px;
    outline: none;
    border: solid 4px var(--text-grey);
    transition: 0.7s;
    margin-left: 150px;
}
.addinfo form select {
    border-radius: 25px;
    padding: 5px 25px;
    width: 200px;
    outline: none;
    border: solid 4px var(--text-grey);
    transition: 0.7s;
    margin-left: 150px;
}
.addinfo h5{
    color: #fff;
    margin-left: 120px;
}
.head2 {
    position: absolute;
    left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 180px;
}
.head2 h4 {
    margin-left: 10px;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: rgb(255, 255, 255);
    letter-spacing: 2px;
}
.head2 span {
    color: #fff;
    font-size: 40px;
}
.addinfo .scan input{
    border-radius: 25px;
    padding: 5px 25px;
    outline: none;
    border: solid 4px var(--text-grey);
    transition: 0.7s;
    margin-left: 150px;
    color: #fff;
}
.nomem{
    margin-top: 45px;
}
#edit{
    font-size: 40px;
    color: var(--main-color);
    transition: .8s;
}
#edit:hover{
    cursor: pointer;
    color: var(--text-grey);
}
#delete{
    font-size: 40px;
    color: var(--main-color);
    transition: .8s;
}
#delete:hover{
    cursor: pointer;
    color: var(--text-grey);
}
/* #delconfirmatio{
    background: var(--main-color);
    width: 90vh;
    top: -580px;
    transition: .8s;
    position: fixed;
    left: 40%;
} */
#delconfirmation{
    height: 90px;
}
#delconfirmation h1{
    color: #fff;
    margin-left: 130px;
}
#delconfirmation .delbutts #buttdelete{
    color: white;
    background-color: var(--text-grey);
    border: solid 0.01px #fff;
    height: 5vh;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.7s;
    border-radius: 10px;
}
#delconfirmation .delbutts #anndelete{
    margin-left: 5px;
    color: white;
    background-color: var(--text-grey);
    border: solid 0.01px #fff;
    height: 5vh;
    width: 120px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.7s;
    border-radius: 10px;
}
#delconfirmation .delbutts{
    margin-top: 10px;
    margin-left: 180px;
}
#delconfirmation .delbutts #buttdelete:hover{
    color: var(--main-color);
    background: #fff;
}
#delconfirmation .delbutts #anndelete:hover{
    color: var(--main-color);
    background: #fff;
}
table{
    border-collapse: collapse;
}
thead tr{
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
}
thead td{
    font-weight: 700;
}
td{
    padding: .5rem 1rem;
    font-size: .9rem;
    color: #222;
}
tr td:last-child{
    display: flex;
    align-items: center;
}
.table-responsive{
    width: 100%;
    overflow: auto;
}
